body
{ 
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
} 
.sun
{ 
    position: absolute;
    width: 100px; 
    height: 100px; 
    background-color: gold;
    border-radius: 50%; 
    box-shadow: 0 0 50px gold; 
} 
.earth 
{ 
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    background-color: darkcyan; 
    top: 50%;
    left: 50%;
    transform-origin: top left; 
    animation: rotate-earth 12s linear infinite;  
} 
.earth ::before 
{ 
    content: ""; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    width: 100px; 
    height: 100px; 
    border: 1px dashed rgba(255, 255, 255, 0.5); 
    border-radius: 50%; 
    box-sizing: border-box; 
    transform-origin: 0 0; 
    transform: translate(-50%,-50%); 
} 
.moon 
{ 
    position: absolute; 
    width: 25px; 
    height: 25px; 
    border-radius: 50%; 
    background-color: #fff; 
    top: 50%; 
    left: 50%; 
    transform-origin: top left; 
    animation: rotate-moon 6s linear infinite; 
} 
@keyframes rotate-moon 
{ 
    0% 
    { 
        transform: rotate(0deg) translate(30px);
    }


    100% 
    { 
        transform: rotate(360ddeg) translate(30px); 
    }
} 
@keyframes rotate-earth 
{ 
    0% 
    { 
        transform: rotate(0deg) translate(100px); 
    } 


     100% 
     { 
        transform: rotate(360deg) translate(100px); 
     }
}